<section class="access-denied">
    <div class="access-denied__container">
        <div class="access-denied__block">
            <img class="access-denied__image" src="/icons/accessDenied/access-denied-icon.svg" alt="Иконка отсутствия доступа">
            <h1 class="access-denied__disclaimer">Увы по данному запросу у вас нет доступа <br> Приносим свои извинения за неудобства если вы попали сюда случайно по нашей вине</h1>
        </div>
    </div>
</section>