@charset "UTF-8";
.notfound {
  position: relative; }
  .notfound__container {
    margin: 0em auto;
    max-width: 100%;
    padding: 3em 2em; }
  .notfound__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em; }
  .notfound__http-error {
    font-size: 9em;
    margin: 0; }
  .notfound__block-info {
    display: flex;
    gap: 2em;
    margin: 1em 0em; }
  .notfound__block-return {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em; }

.block-return__return-on-main {
  color: white;
  background-color: black;
  padding: 0.9em 1em;
  border-radius: 5px; }
  .block-return__return-on-main:hover {
    color: white; }

.block-return__search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .block-return__search input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .block-return__search input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0; }
  .block-return__search input[type="search"]::-webkit-search-decoration,
  .block-return__search input[type="search"]::-webkit-search-cancel-button,
  .block-return__search input[type="search"]::-webkit-search-results-button,
  .block-return__search input[type="search"]::-webkit-search-results-decoration {
    display: none; }

.search__input {
  background-color: #f0f0f0;
  padding: 0.702em 1em;
  border-radius: 5px;
  padding-right: 2.5em; }

.search__lupa {
  position: absolute;
  right: 10px; }
  .search__lupa img {
    height: 1.5em;
    width: 1.5em; }

.block-info__reason {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  text-align: left; }

.block-info__solution {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  text-align: left; }

.reason__reasons-list {
  text-align: justify; }

.reasons-list__reason {
  list-style-type: none;
  margin-top: 0.4em;
  line-height: 1.3em; }
  .reasons-list__reason::before {
    content: '— '; }

.solution__solutions-list {
  text-align: justify; }

.solutions-list__solution {
  list-style-type: none;
  margin-top: 0.4em;
  line-height: 1.3em; }
  .solutions-list__solution::before {
    content: '— '; }

@media (max-width: 730px) {
  .notfound__http-error {
    font-size: 6em;
    margin: 0; }
  .notfound__block {
    font-size: 1.3em; }
  .notfound__block-info {
    flex-direction: column;
    gap: 0.5em; }
  .notfound__block-return {
    flex-direction: column;
    gap: 0.7em; }
  .block-return__return-on-main {
    width: 100%;
    order: 1; }
  .block-return__search {
    width: 100%; } }

@media (max-width: 420px) {
  .notfound {
    margin-bottom: 5em; }
    .notfound__block {
      font-size: 1.2em; } }
