@page "/not-found"
@attribute [AllowAnonymous]

<section class="notfound">
    <div class="notfound__container">
        <div class="notfound__block">
            <h1 class="notfound__http-error">404</h1>
            <h2 class="notfound__text">Упс... данной страницы не существует</h2>
            <div class="notfound__block-info block-info">
                <div class="block-info__reason reason">
                    <span class="reason__title">Возможные причины:</span>
                    <ul class="reason__reasons-list reasons-list">
                        <li class="reasons-list__reason">Такой страницы не существует</li>
                        <li class="reasons-list__reason">Ошибка при указании адреса страницы</li>
                        <li class="reasons-list__reason">Страница удалена или перемещена</li>
                    </ul>
                </div>
                <div class="block-info__solution solution">
                    <span class="solution__title">Предлагаемые решения:</span>
                    <ul class="solution__solutions-list">
                        <li class="solutions-list__solution">Проверьте введенный адрес</li>
                        <li class="solutions-list__solution">Обратитесь в службу поддержки</li>
                        <li class="solutions-list__solution">Вернуться на главную страницу</li>
                        <li class="solutions-list__solution">Воспользоваться поиском товаров</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>