@page "/technical-works"
@attribute [AllowAnonymous]

<section class="technical-works">
    <div class="technical-works__container">
        <div class="technical-works__block">
            <img class="technical-works__image" src="./icons/technical-works/Tools.svg" alt="Иконка инструментов">
            <h1 class="technical-works__disclaimer">На странице ведутся технические работы <br> Страница в данный момент временно недоступна, приносим свои извинения за неудобства.</h1>
        </div>
    </div>
</section>