@page "/account/cart"

<section class="cart">
    <div class="cart__container">
        <div class="cart__block">
            <h1 class="cart__title">Корзина</h1>
            <div class="cart__main-block">
                <div class="main-block__products-cards">
                    <div class="products-cards__product-card">
                        <a class="product-card__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/cart/Джинсы_Levi_s_514__Straight__Big___Tall_-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <div class="product-card__product-info">
                            <h3 class="product-info__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levi-s-514-Straight-Big-Tall</a></h3>
                            <span class="product-info__brand">Бренд: Levi's</span>
                            <span class="product-info__color">Цвет: Голубой</span>
                        </div>
                        <div class="product-card__counter-block">
                            <div class="counter-block__counter"><div class="counter__minus"></div><input class="counter-input" type="text" maxlength="3" value="1" aria-label="Место ввода количества желаемого товара"><div class="counter__plus"></div></div>
                            <span class="counter-block__price"><strong>27 999 ₽</strong>/шт.</span>
                        </div>
                        <div class="product-card__block-price hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-price__price">27 999 ₽</span>
                            <span class="block-price__discount-price">22 400 ₽</span>
                        </div>
                        <div class="product-card__icons-block">
                            <a class="icons-block__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/cart/Cross.svg" alt="Иконка крестика" title="Удалить из корзины"></a>
                            <a class="icons-block__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/cart/Heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        </div>
                    </div>
                    <div class="products-cards__product-card">
                        <a class="product-card__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/cart/Джинсы_Levi_s_514__Straight__Big___Tall_-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <div class="product-card__product-info">
                            <h3 class="product-info__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levi-s-514-Straight-Big-Tall</a></h3>
                            <span class="product-info__brand">Бренд: Levi's</span>
                            <span class="product-info__color">Цвет: Голубой</span>
                        </div>
                        <div class="product-card__counter-block">
                            <div class="counter-block__counter"><div class="counter__minus"></div><input class="counter-input" type="text" maxlength="3" value="1" aria-label="Место ввода количества желаемого товара"><div class="counter__plus"></div></div>
                            <span class="counter-block__price"><strong>27 999 ₽</strong>/шт.</span>
                        </div>
                        <div class="product-card__block-price">
                            <!-- hasDiscount -->
                            <span class="block-price__price">27 999 ₽</span>
                            <span class="block-price__discount-price">22 400 ₽</span>
                        </div>
                        <div class="product-card__icons-block">
                            <a class="icons-block__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/cart/Cross.svg" alt="Иконка крестика" title="Удалить из корзины"></a>
                            <a class="icons-block__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/cart/Heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        </div>
                    </div>
                    <div class="products-cards__product-card">
                        <a class="product-card__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/cart/Джинсы_Levi_s_514__Straight__Big___Tall_-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <div class="product-card__product-info">
                            <h3 class="product-info__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levi-s-514-Straight-Big-Tall</a></h3>
                            <span class="product-info__brand">Бренд: Levi's</span>
                            <span class="product-info__color">Цвет: Голубой</span>
                        </div>
                        <div class="product-card__counter-block">
                            <div class="counter-block__counter"><div class="counter__minus"></div><input class="counter-input" type="text" maxlength="3" value="1" aria-label="Место ввода количества желаемого товара"><div class="counter__plus"></div></div>
                            <span class="counter-block__price"><strong>27 999 ₽</strong>/шт.</span>
                        </div>
                        <div class="product-card__block-price">
                            <!-- hasDiscount -->
                            <span class="block-price__price">27 999 ₽</span>
                            <span class="block-price__discount-price">22 400 ₽</span>
                        </div>
                        <div class="product-card__icons-block">
                            <a class="icons-block__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/cart/Cross.svg" alt="Иконка крестика" title="Удалить из корзины"></a>
                            <a class="icons-block__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/cart/Heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        </div>
                    </div>
                    <div class="products-cards__product-card">
                        <a class="product-card__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/cart/Джинсы_Levi_s_514__Straight__Big___Tall_-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <div class="product-card__product-info">
                            <h3 class="product-info__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levi-s-514-Straight-Big-Tall</a></h3>
                            <span class="product-info__brand">Бренд: Levi's</span>
                            <span class="product-info__color">Цвет: Голубой</span>
                        </div>
                        <div class="product-card__counter-block">
                            <div class="counter-block__counter"><div class="counter__minus"></div><input class="counter-input" type="text" maxlength="3" value="1" aria-label="Место ввода количества желаемого товара"><div class="counter__plus"></div></div>
                            <span class="counter-block__price"><strong>27 999 ₽</strong>/шт.</span>
                        </div>
                        <div class="product-card__block-price hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-price__price">27 999 ₽</span>
                            <span class="block-price__discount-price">22 400 ₽</span>
                        </div>
                        <div class="product-card__icons-block">
                            <a class="icons-block__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/cart/Cross.svg" alt="Иконка крестика" title="Удалить из корзины"></a>
                            <a class="icons-block__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/cart/Heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        </div>
                    </div>
                </div>
                <div class="main-block__information-block">
                    <div class="information-block__info"><span>Товары – 5</span><span>30300 ₽</span></div>
                    <div class="information-block__info"><span>Скидка</span><span>-300 ₽</span></div>
                    <div class="information-block__info"><span><strong>Итого</strong></span><span><strong>30000 ₽</strong></span></div>
                    <a class="information-block__button" type="submit" aria-label="">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
</section>