@page "/account/favorites"

<section class="favorites">
    <div class="favorites__container">
        <div class="favorites__block">
            <h1 class="favorites__title">Избранное</h1>
            <div class="favorites__product-cards">
                <div class="favorites__product-card">
                    <div class="favorites__image-block">
                        <a class="favorites__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/favorites/Джинсы_Levi_s_514__Straight__Big___Tall_-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <a class="favorites__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/favorites/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        <a class="favorites__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/favorites/Cart.svg" alt="Иконка корзины" title="Добавить в корзину"></a>
                        <div class="favorites__block-discount hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-discount__amount">-20%</span>
                            <img class="block-discount__icon" src="./icons/favorites/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                        </div>
                    </div>
                    <h3 class="favorites__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levis's</a></h3>
                    <div class="favorites__block-price hasDiscount">
                        <!-- hasDiscount -->
                        <span class="block-price__price">27 999 ₽</span>
                        <span class="block-price__discount-price">22 400 ₽</span>
                    </div>
                </div>
                <div class="favorites__product-card">
                    <div class="favorites__image-block">
                        <a class="favorites__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/favorites/Джинсы_Levi_s_514__Straight__Big___Tall_-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <a class="favorites__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/favorites/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        <a class="favorites__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/favorites/Cart.svg" alt="Иконка корзины" title="Добавить в корзину"></a>
                        <div class="favorites__block-discount hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-discount__amount">-20%</span>
                            <img class="block-discount__icon" src="./icons/favorites/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                        </div>
                    </div>
                    <h3 class="favorites__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levis's</a></h3>
                    <div class="favorites__block-price hasDiscount">
                        <!-- hasDiscount -->
                        <span class="block-price__price">27 999 ₽</span>
                        <span class="block-price__discount-price">22 400 ₽</span>
                    </div>
                </div>
                <div class="favorites__product-card">
                    <div class="favorites__image-block">
                        <a class="favorites__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/favorites/Джинсы_Levi_s_514__Straight__Big___Tall_-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <a class="favorites__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/favorites/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        <a class="favorites__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/favorites/Cart.svg" alt="Иконка корзины" title="Добавить в корзину"></a>
                        <div class="favorites__block-discount hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-discount__amount">-20%</span>
                            <img class="block-discount__icon" src="./icons/favorites/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                        </div>
                    </div>
                    <h3 class="favorites__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levis's</a></h3>
                    <div class="favorites__block-price hasDiscount">
                        <!-- hasDiscount -->
                        <span class="block-price__price">27 999 ₽</span>
                        <span class="block-price__discount-price">22 400 ₽</span>
                    </div>
                </div>
                <div class="favorites__product-card">
                    <div class="favorites__image-block">
                        <a class="favorites__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/favorites/Пальто_Tom_Farr-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <a class="favorites__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/favorites/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        <a class="favorites__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/favorites/Cart.svg" alt="Иконка корзины" title="Добавить в корзину"></a>
                        <div class="favorites__block-discount hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-discount__amount">-20%</span>
                            <img class="block-discount__icon" src="./icons/favorites/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                        </div>
                    </div>
                    <h3 class="favorites__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levis's</a></h3>
                    <div class="favorites__block-price hasDiscount">
                        <!-- hasDiscount -->
                        <span class="block-price__price">27 999 ₽</span>
                        <span class="block-price__discount-price">22 400 ₽</span>
                    </div>
                </div>
                <div class="favorites__product-card">
                    <div class="favorites__image-block">
                        <a class="favorites__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/favorites/Ботинки_для_девочек_adidas_Terrex_Trailmaker_Mid_R.RDY_K3-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <a class="favorites__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/favorites/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        <a class="favorites__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/favorites/Cart.svg" alt="Иконка корзины" title="Добавить в корзину"></a>
                        <div class="favorites__block-discount hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-discount__amount">-20%</span>
                            <img class="block-discount__icon" src="./icons/favorites/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                        </div>
                    </div>
                    <h3 class="favorites__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levis's</a></h3>
                    <div class="favorites__block-price hasDiscount">
                        <!-- hasDiscount -->
                        <span class="block-price__price">27 999 ₽</span>
                        <span class="block-price__discount-price">22 400 ₽</span>
                    </div>
                </div>
                <div class="favorites__product-card">
                    <div class="favorites__image-block">
                        <a class="favorites__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/favorites/Ботинки_для_девочек_adidas_Terrex_Trailmaker_Mid_R.RDY_K3-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <a class="favorites__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/favorites/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        <a class="favorites__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/favorites/Cart.svg" alt="Иконка корзины" title="Добавить в корзину"></a>
                        <div class="favorites__block-discount hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-discount__amount">-20%</span>
                            <img class="block-discount__icon" src="./icons/favorites/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                        </div>
                    </div>
                    <h3 class="favorites__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levis's</a></h3>
                    <div class="favorites__block-price hasDiscount">
                        <!-- hasDiscount -->
                        <span class="block-price__price">27 999 ₽</span>
                        <span class="block-price__discount-price">22 400 ₽</span>
                    </div>
                </div>
                <div class="favorites__product-card">
                    <div class="favorites__image-block">
                        <a class="favorites__image" href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall"><img src="./images/favorites/Ботинки_для_девочек_adidas_Terrex_Trailmaker_Mid_R.RDY_K3-removebg-preview.webp" alt="Картинка джинсов Levi-s-514-Straight-Big-Tall" title="Джинсы Levi-s-514-Straight-Big-Tall"></a>
                        <a class="favorites__favorites-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в избранное"><img src="./icons/favorites/Slash-heart.svg" alt="Перечеркнутая иконка избранного" title="Удалить из избранного"></a>
                        <a class="favorites__cart-icon" href="#" aria-label="Добавить товар Джинсы Levi-s-514-Straight-Big-Tall в корзину"><img src="./icons/favorites/Cart.svg" alt="Иконка корзины" title="Добавить в корзину"></a>
                        <div class="favorites__block-discount hasDiscount">
                            <!-- hasDiscount -->
                            <span class="block-discount__amount">-20%</span>
                            <img class="block-discount__icon" src="./icons/favorites/Discount.svg" alt="Иконка скидки" title="Скидка товара">
                        </div>
                    </div>
                    <h3 class="favorites__name"><a href="#" aria-label="Перейти в личную карточку товара Джинсы Levi-s-514-Straight-Big-Tall">Джинсы Levis's</a></h3>
                    <div class="favorites__block-price hasDiscount">
                        <!-- hasDiscount -->
                        <span class="block-price__price">27 999 ₽</span>
                        <span class="block-price__discount-price">22 400 ₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>