.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .favorites__container {
    margin: 0 auto;
    width: 100em;
    padding: 3em 0em; }
  .favorites__block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0em 2em; }
  .favorites__title {
    margin-left: 1.5em;
    align-self: flex-start;
    margin-bottom: 1.5em;
    font-size: 24px;
    line-height: 1.5em; }
  .favorites__product-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr)); }
  .favorites__product-card {
    display: grid;
    grid-template-rows: 1fr;
    justify-self: center;
    width: 100%;
    height: 100%;
    padding: 0.7em; }
  .favorites__image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #f6f6f6; }
  .favorites__image img {
    padding: 1em;
    object-fit: contain;
    height: 30em;
    width: 30em;
    background-color: #f6f6f6; }
  .favorites__favorites-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6; }
    .favorites__favorites-icon:hover {
      opacity: 1; }
    .favorites__favorites-icon img {
      height: 1.8em; }
  .favorites__cart-icon {
    position: absolute;
    top: 40px;
    right: 11.5px;
    opacity: 0.6; }
    .favorites__cart-icon:hover {
      opacity: 1; }
    .favorites__cart-icon img {
      height: 1.8em; }
  .favorites__block-discount {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.3em; }
    .favorites__block-discount.hasDiscount {
      display: inline-flex; }
  .favorites__name {
    margin: 1em 0em 0.3em;
    font-size: 1.2em;
    color: black; }
    .favorites__name a {
      color: black; }
  .favorites__block-price.hasDiscount .block-price__price {
    text-decoration: line-through; }
  .favorites__block-price.hasDiscount .block-price__discount-price {
    display: inline-flex; }

.block-discount__icon {
  height: 1.8em;
  width: 1.8em; }

.block-price__discount-price {
  display: none;
  color: #5c5c5c; }

@media (max-width: 940px) {
  .favorites__title {
    margin-left: 0.7em;
    margin-bottom: 0.7em; }
  .favorites__block {
    padding-top: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .favorites__product-cards {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); }
  .favorites__image img {
    height: 25em;
    width: 25em; } }

@media (max-width: 800px) {
  .favorites__product-cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); }
  .favorites__image img {
    height: 20em;
    width: 20em; } }

@media (max-width: 660px) {
  .favorites__product-cards {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); }
  .favorites__image img {
    height: 30em;
    width: 30em; } }

@media (max-width: 510px) {
  .favorites__block {
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .favorites__product-cards {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); }
  .favorites__image img {
    height: 25em;
    width: 25em; } }

@media (max-width: 440px) {
  .favorites__product-cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); }
  .favorites__image img {
    height: 20em;
    width: 20em; } }
