@inherits FooterBase

@if (currentUserState is not null)
{
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__block-links block-links">
                <div class="block-links__help">
                    <div class="block__spoiler one">
                        <!-- one -->
                        <h3 class="spoiler__title">ПОМОЩЬ</h3> <!-- active -->
                        <div class="spoiler__content">
                            <ul class="help__links-list">
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Статус заказа">Статус заказа</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Доставка">Доставка</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Возврат">Возврат</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Способ оплаты">Способ оплаты</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Связатся с нами">Связатся с нами</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="help__block">
                        <h3 class="help__title">ПОМОЩЬ</h3>
                        <ul class="help__links-list">
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Статус заказа">Статус заказа</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Доставка">Доставка</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Возврат">Возврат</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Способ оплаты">Способ оплаты</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Связатся с нами">Связатся с нами</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-links__about">
                    <div class="block__spoiler">
                        <h3 class="spoiler__title">О VECO</h3>
                        <div class="spoiler__content">
                            <ul class="about__links-list">
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Новости">Новости</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Карьера">Карьера</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Инвесторам">Инвесторам</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="about__block">
                        <h3 class="about__title">О VECO</h3>
                        <ul class="about__links-list">
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Новости">Новости</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Карьера">Карьера</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Инвесторам">Инвесторам</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-links__confidentials">
                    <div class="block__spoiler">
                        <h3 class="spoiler__title">ПОЛИТИКА</h3>
                        <div class="spoiler__content">
                            <ul class="confidentials__links-list">
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Каталог">Каталог</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Условия использования">Условия использования</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Условия продажи">Условия продажи</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу О компании">О компании</a></li>
                                <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Конфиденциальность и файлы cookie">Конфиденциальность и файлы cookie</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="confidentials__block">
                        <h3 class="confidentials__title">ПОЛИТИКА</h3>
                        <ul class="confidentials__links-list">
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Каталог">Каталог</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Условия использования">Условия использования</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Условия продажи">Условия продажи</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу О компании">О компании</a></li>
                            <li><a class="links-list__link" href="#" aria-label="Перейти к разделу Конфиденциальность и файлы cookie">Конфиденциальность и файлы cookie</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-links__contact contact">
                    <div class="block__spoiler">
                        <h3 class="spoiler__title">КОНТАКТЫ</h3>
                        <div class="spoiler__content">
                            <ul class="contact__info-list">
                                <li class="info-list__info">Почта: Veco@gmail.com</li>
                                <li class="info-list__info">Телефона: +7 920 342 24-52</li>
                                <li class="info-list__info">Факс: 2956548</li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact__block">
                        <h3 class="contact__title">КОНТАКТЫ</h3>
                        <ul class="contact__info-list">
                            <li class="info-list__info">Почта: Veco@gmail.com</li>
                            <li class="info-list__info">Телефона: +7 920 342 24-52</li>
                            <li class="info-list__info">Факс: 2956548</li>
                        </ul>
                    </div>
                </div>
                <div class="block-links__media">
                    <ul class="media__links-list">
                        <li><a class="links-list__link" href="https://www.instagram.com/guardiandead12345/" target="_blank" rel="noopener" aria-label="Иконка Instagram"><svg fill="gray" data-name="Layer 1" id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title /><path d="M314.757,147.525H197.243a49.717,49.717,0,0,0-49.718,49.718V314.757a49.718,49.718,0,0,0,49.718,49.718H314.757a49.718,49.718,0,0,0,49.717-49.718V197.243A49.717,49.717,0,0,0,314.757,147.525ZM256,324.391A68.391,68.391,0,1,1,324.391,256,68.391,68.391,0,0,1,256,324.391ZM327.242,201.58a16.271,16.271,0,1,1,16.27-16.271A16.271,16.271,0,0,1,327.242,201.58Z" /><path d="M256,211.545A44.455,44.455,0,1,0,300.455,256,44.455,44.455,0,0,0,256,211.545Z" /><path d="M256,0C114.615,0,0,114.615,0,256S114.615,512,256,512,512,397.385,512,256,397.385,0,256,0ZM389.333,312.5A76.836,76.836,0,0,1,312.5,389.333H199.5A76.837,76.837,0,0,1,122.666,312.5V199.5A76.836,76.836,0,0,1,199.5,122.667H312.5A76.836,76.836,0,0,1,389.333,199.5Z" /></svg></a></li>
                        <li><a class="links-list__link" href="https://twitter.com/Aleksan54215608" target="_blank" rel="noopener" aria-label="Иконка Twitter"><svg fill="gray" data-name="Layer 1" id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title /><path d="M256,0C114.615,0,0,114.615,0,256S114.615,512,256,512,512,397.385,512,256,397.385,0,256,0ZM367.915,198.646c.3,19.091-2.227,114.546-92.824,155.909S116,344.374,116,344.374c50.676,4.772,83.915-23.864,83.915-23.864-41.046-1.75-52.978-39.932-52.978-39.932,14.637,2.546,24.765-1.538,24.765-1.538-45.817-12.3-44.651-56.848-44.651-56.848,13.045,7.742,24.5,6.363,24.5,6.363-42.424-30.545-16.46-76.045-16.46-76.045,47.727,58.864,119.22,60.506,119.22,60.506a67.027,67.027,0,0,1-1.493-14.37c0-38.181,33.642-57.272,57.273-57.272s41.119,17.818,41.119,17.818c17.978-.8,37.228-13.046,37.228-13.046-7.637,23.228-23.7,31.819-23.7,31.819,14.557-1.591,31.267-8.91,31.267-8.91C390.358,181.465,367.915,198.646,367.915,198.646Z" /></svg></a></li>
                        <li><a class="links-list__link" href="https://www.facebook.com/profile.php?id=100072010964070" target="_blank" rel="noopener" aria-label="Иконка Facebook"><svg fill="gray" data-name="Layer 1" id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title /><path d="M256,0C114.615,0,0,114.615,0,256S114.615,512,256,512,512,397.385,512,256,397.385,0,256,0Zm67.59,153.428s-26.194-2.064-36.513,1.746c-17.056,6.3-17.462,21.034-17.462,35.084v28.694h52.149l-7.62,54.888H269.615V409.333h-58.9V273.84H161.744V218.952h48.974V172.4c0-49.292,37.942-67.151,60.563-69.294s52.309,4.286,52.309,4.286Z" /></svg></a></li>
                        <li><a class="links-list__link" href="https://www.youtube.com/channel/UCQcc9oN6C0JfgpgFR77InRQ" target="_blank" rel="noopener" aria-label="Иконка YouTube"><svg fill="gray" data-name="Layer 1" id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title /><path d="M256,0C114.615,0,0,114.615,0,256S114.615,512,256,512,512,397.385,512,256,397.385,0,256,0ZM174.068,382.667V129.333L397.932,258.155Z" /></svg></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__block-confidentials">
                <a class="block-confidentials__geo" href="#" aria-label="Сменить геолокацию"><img src="./icons/footer/Geo.svg" alt="Иконка геолокации" title="Текущая геолокация">Россия</a>
                <span class="block-confidentials__initials">© Veco, Inc., 2021. Все права защищены.</span>
            </div>
        </div>
    </footer>
}
