@import "header-components/dark-overlay.scss";
@import "header-components/sidenav.scss";
@import "header-components/subcategories.scss";

.header {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    padding: 1.5em 0em;
    z-index: 10;
    justify-content: baseline;
    align-items: baseline;
    background-color: white;
    transition: all 0.5s ease;

    &__container {
        display: grid;
        grid-template-columns: 0.3fr minmax(min-content,1fr) min-content min-content;
        justify-items: center;
        padding: 0em 1.5em;
        max-height: 6.5em;
        gap: 1.2em;
        flex: 1 1 auto;
    }

    &.scroling {
        padding: 0.5em 0em;
        transition: all 0.5s ease;
        border-bottom: none;

        .sidenav {
            padding-top: 40px;
        }

        .subcategories {
            top: 90px;
        }
    }
}

.logo {
    display: flex;
    align-items: center;

    img {
        width: 4.5em;
        height: 5.5em;
        opacity: 1;
    }

    &:hover {
        opacity: 0.7;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0;

    &__categories {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
        justify-items: center;
        align-items: stretch;
        margin: 0 auto;
        gap: 1em;
        list-style-type: none;
    }
}

.category {
    &__link {
        display: flex;
        align-items: stretch;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            color: black;
            border-bottom: 0.15em solid white;
            text-decoration: none;

            h3 {
                margin: 0;
            }

            &:hover {
                transition: 0.2s;
                border-bottom: 0.15em solid black;
            }
        }
    }
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0.4em;

    &__search {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-right: 0.7em;

        &__lupa {
            position: absolute;
            left: 0.06em;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin: 0.6em;
                width: 1.5em;
                height: 1.5em;
            }

            &:hover {
                background-color: rgb(226, 226, 226);
                border-radius: 50%;
            }
        }

        button, input[type="submit"], input[type="reset"] {
            padding: 0;
            background: none;
            color: inherit;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }

        input {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 10em;
            padding-left: 2.4em;
            min-height: 2.4em;
            font-size: 1.15em;
            background-color: rgb(240, 240, 240);
            border: 0.1em solid rgb(240, 240, 240);
            border-radius: 2em;
            outline: none;

            &:hover {
                background-color: rgb(226, 226, 226);
                border: 0.1em solid rgb(226, 226, 226);
            }
        }
    }

    &__favorites {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &__count {
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.7em;
            height: 1.3em;
            width: 1.3em;
            text-align: center;
            background-color: red;
            border-radius: 50%;
            color: white;
            font-size: 15px;
        }

        img {
            margin: 0.5em;
            width: 1.9em;
            height: 1.9em;
        }

        &:hover {
            border-radius: 50%;
            background-color: rgb(226, 226, 226);
        }
    }

    &__cart {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &__count {
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.7em;
            height: 1.3em;
            width: 1.3em;
            text-align: center;
            background-color: red;
            border-radius: 50%;
            color: white;
            font-size: 15px;
        }

        img {
            margin: 0.5em;
            width: 1.9em;
            height: 1.9em;
        }

        &:hover {
            border-radius: 50%;
            background-color: rgb(226, 226, 226);
        }
    }

    &__login {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 0.5em;
            width: 1.9em;
            height: 1.9em;
        }

        &:hover {
            border-radius: 50%;
            background-color: rgb(226, 226, 226);
        }
    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 0.3em;
            width: 2.4em;
            height: 2.4em;
        }

        &:hover {
            border-radius: 50%;
            background-color: rgb(226, 226, 226);
        }
    }

    &__user-block {
        position: relative;
    }

    &__user-links {
        border-radius: 5px;
        position: absolute;
        right: 0;
        top: 110%;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        margin: 0;
        z-index: 15;
        background-color: white;
        border: 1px solid rgb(179, 179, 179);

        &.show {
            display: flex;
        }
    }
}

.user-menu {
    &__link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0.5em 1em;

        &:hover {
            background-color: rgb(226, 226, 226);
            border-radius: 3px;
        }

        a {
            display: flex;
            justify-content: right;
            align-items: center;
            padding: 0.2em 0.7em;
            width: 100%;
            color: black;

            img {
                padding-left: 0.5em;
                height: 2em;
                width: 2em;
            }
        }
    }
}

@media (max-width: 830px) {
    .header {
        &__container {
            gap: 0em;
        }
    }

    .burger-menu {
        position: relative;
        display: block;
        justify-self: center;
        align-self: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1px;
            margin-left: -10px;
            width: 20px;
            height: 2px;
            background-color: black;

            &::before, &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                margin-top: -1px;
                margin-left: -10px;
                width: 20px;
                height: 2px;
                background-color: black;
                transition: 0.5s;
            }

            &::before {
                transform: translateY(-6.5px);
            }

            &::after {
                transform: translateY(6.5px);
            }
        }
    }
    /*.burger-menu_active{
      span{
         height: 0;
      }
      span::before{
         transform: rotate(45deg);
      }
      span::after{
         transform: rotate(-45deg);
      }
   }
   .navbar{
      //display: inline-block;
      transition: 0.5s;
      transform-origin: right center;
      transform: translateX(100%);
      opacity: 0;
   }
   .navbar_active{
      transform: translateX(0%);
      opacity: 1;
   } */
    .panel {
        grid-template-columns: min-content min-content min-content min-content;
        justify-self: right;
        margin: 0;
        gap: 0;

        &__login {
            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: rgb(226, 226, 226);
            }
        }

        &__user {
            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: rgb(226, 226, 226);
            }
        }

        &__favorites {
            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: rgb(226, 226, 226);
            }
        }

        &__cart {
            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: rgb(226, 226, 226);
            }
        }

        &__search {
            position: relative;

            &__lupa {
                position: absolute;
                transform: translateX(-30px);
                transition: transform 0.5s;

                &:hover {
                    background-color: transparent;
                }

                &:active {
                    background-color: rgb(226, 226, 226);
                }

                img {
                    margin: 0.5em;
                    width: 1.65em;
                    height: 1.65em;
                }

                &.active {
                    transform: translateX(0px);
                    position: absolute;
                    transition: transform 0.5s;
                    left: 0.1em;
                }
            }

            input {
                display: inline-flex;
                max-width: 0em;
                border: 0;
                padding: 0;
                outline: none;
                transition: 0.5s ease all;
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                    border: none;
                }

                &.active {
                    border: 0;
                    padding-right: 1em;
                    max-width: 10em;
                    padding-left: 2.6em;
                    transition: all 0.5s ease;
                    background-color: rgb(240, 240, 240);
                }
            }
        }
    }

    .navbar {
        display: none;
    }

    .burger-menu {
        display: block;
    }
}
