.privacy {
    &__container {
       margin: 0 auto;
       max-width: 80em;
    }
    &__block {
      padding: 3em 2em;
       display: flex;
       flex-direction: column;
       gap: 1em;
       justify-content: center;
       align-items: left;
    }
    &__title {
       font-size: 24px;
       font-weight: 500;
    }
    &__date-publication {
       font-size: 15px;
    }
    &__paragraph-block {}
 }
 .paragraph-block {
    &__title {
       font-weight: 500;
       font-size: 24px;
       margin-bottom: 0.5em;
    }
    &__text {
       font-size: 15px;
       line-height: 24px;
       text-align: justify;
    }
 }