.register-confirm {
  width: 100%; }
  .register-confirm__container {
    max-width: 45em;
    margin: 0em auto; }
  .register-confirm__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 3em 2em; }
  .register-confirm__image {
    height: 9em;
    width: 9em; }
  .register-confirm__block-text {
    text-align: center; }
  .register-confirm__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em; }
  .register-confirm__block-disclaimer {
    text-align: justify; }

.block-text__title {
  margin-bottom: 0.7em; }

.block-text__text {
  margin-bottom: 1.3em; }

.register-confirm-form__input {
  padding: 0.6em 1em;
  border-radius: 5px;
  min-width: 250px;
  box-shadow: 0px 0px 1px black;
  margin-bottom: 0.8em; }
  .register-confirm-form__input.invalid {
    margin-bottom: 0.4em;
    box-shadow: none;
    border: 1px solid red; }

.register-confirm-form__input-error {
  display: none;
  font-size: 0.85em;
  align-self: center;
  color: red;
  margin-bottom: 0.6em; }
  .register-confirm-form__input-error.show {
    display: inline-block; }

.register-confirm-form__button-submut {
  padding: 0.6em 1em;
  color: white;
  background-color: black;
  border-radius: 5px;
  min-width: 250px;
  margin-bottom: 0.5em; }

.register-confirm-form__button-reset {
  color: #919191; }
  .register-confirm-form__button-reset:hover {
    color: #b6b6b6; }
  .register-confirm-form__button-reset.disabled {
    pointer-events: none; }
    .register-confirm-form__button-reset.disabled:hover {
      color: #919191; }

.block-disclaimer__title {
  margin-bottom: 0.5em; }

@media (max-width: 700px) {
  .register-confirm-form__button-reset {
    color: #919191; }
    .register-confirm-form__button-reset:hover {
      color: #919191; }
    .register-confirm-form__button-reset:active {
      color: #b6b6b6; }
    .register-confirm-form__button-reset.disabled {
      pointer-events: none; }
      .register-confirm-form__button-reset.disabled:hover {
        color: #919191; } }
