@page "/catalog"
@inherits ProductCatalogBase
@attribute [AllowAnonymous]

    <section class="catalog">
        <div class="catalog__container">
            <div class="catalog__panel-block">
                <div class="panel-block__link-category-block">
                    <a class="link-category-block__category" href="#">Обувь</a>
                    <div class="link-category-block__splitter">•</div>
                    <h2 class="link-category-block__subcategory">Кроссовки</h2>
                    <span class="link-category-block__count">(200052)</span>
                </div>
                <div class="panel-block__filter-sort-block">
                    <span class="filter-sort-block__side-filters" onclick="openSideFilters()">Фильтры</span>
                    <div class="filter-sort-block__sort-by-block">
                        <span class="sort-by-block__label">Сортировать по:</span>
                        <div class="sort-by-block__choose-block">
                            <span class="choose-block__sort-value">Новинки</span>
                            <span class="choose-block__sort-value">Убыванию</span>
                            <span class="choose-block__sort-value">Возрастанию</span>
                            <span class="choose-block__sort-value">Популярные</span>
                            <span class="choose-block__sort-value">Рейтингу</span>
                            <span class="choose-block__sort-value">Скидке</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__main-block">
                <form class="main-block__filters-form-block" method="post">
                    <div class="filters-form-block__price-filter-block filter-block">
                        <h3 class="price-filter-block__label">Цена</h3>
                        <div class="price-filter__range-min-max-block">
                            <div class="range-min-max-block__selected-range"></div>
                            <div class="range-min-max-block__common-range"></div>
                            <input class="range-min-max-block__min-range-input-value" step="any" min="351" max="350000" type="range">
                            <input class="range-min-max-block__max-range-input-value" step="any" min="351" max="350000" type="range">
                        </div>
                        <div class="price-filter__price-min-max-block">
                            <input class="price-min-max-block__min-price-input" type="number" placeholder="351">
                            <div class="price-min-max-block__splitter">—</div>
                            <input class="price-min-max-block__max-price-input" type="number" placeholder="350000">
                        </div>
                    </div>
                    <div class="filters-form-block__colors-filter-block filter-block">
                        <div class="colors-filter-block__label-block label-block">
                            <h3 class="label-block__label filter-label">Цвета</h3>
                            <div class="label-block__arrow"></div> <!-- show -->
                        </div>
                        <div class="colors-filter-block__colors-filter-spoiler filter-spoiler">
                            <div class="colors-filter-spoiler__colors-filter filter-choose-block">
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Черный</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Белый</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Ораньжевый</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Темно-синий</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Голубой</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Фиолетово-розовый</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Красный</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Зеленый</label>
                            </div>
                        </div>
                    </div>
                    <div class="filters-form-block__brands-filter-block filter-block">
                        <div class="brands-filter-block__label-block label-block">
                            <h3 class="label-block__label filter-label">Бренды</h3>
                            <div class="label-block__arrow"></div> <!-- show -->
                        </div>
                        <div class="brands-filter-block__brands-filter-spoiler filter-spoiler">
                            <div class="brands-filter-spoiler__brands-filter filter-choose-block">
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Adiddas</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Lous-Vitons</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Veco</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Nike</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Praga</label>
                            </div>
                        </div>
                    </div>
                    <div class="filters-form-block__sizes-filter-block filter-block">
                        <div class="sizes-filter-block__label-block label-block">
                            <h3 class="label-block__label filter-label">Размеры</h3>
                            <div class="label-block__arrow"></div> <!-- show -->
                        </div>
                        <div class="sizes-filter-block__sizes-filter-spoiler filter-spoiler">
                            <div class="sizes-filter-spoiler__sizes-filter filter-choose-block">
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>41</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>43</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>42</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>45</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>56</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>57</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>58</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>90</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>91</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>92</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>93</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>94</label>
                                <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>95</label>
                            </div>
                        </div>
                    </div>
                    <button class="filters-form-block__submut-button" type="submit">Принять</button>
                </form>
                <div class="main-block__products-block">
                    <div class="products-block__products-cards">
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/NIKE_Air_Zoom_Pegasus1-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/Ботинки_для_девочек_adidas_Terrex_Trailmaker_Mid_R.RDY_K3-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/NIKE_Air_Zoom_Pegasus1-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/NIKE_Air_Zoom_Pegasus1-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/Пальто_Tom_Farr-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/NIKE_Air_Zoom_Pegasus1-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/NIKE_Air_Zoom_Pegasus1-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/NIKE_Air_Zoom_Pegasus1-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/Джинсы_Levi_s_514__Straight__Big___Tall_-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                        <div class="products-cards__product-card">
                            <div class="product-card__image-block">
                                <img class="image-block__image" src="./images/cart/NIKE_Air_Zoom_Pegasus1-removebg-preview.webp" alt="">
                            </div>
                            <h3 class="product-card__name">Кроссовки NIKE Air Zoom Pegasus</h3>
                            <span class="product-card__price">350 000 Р</span>
                        </div>
                    </div>
                    <div class="products-block__pagination-block">
                        <div class="pagination-block__pagination-choose-block">
                            <span class="pagination-choose-block__previous-page">Предыдущая</span>
                            <span class="pagination-choose-block__page selected-page">1</span>
                            <span class="pagination-choose-block__page">2</span>
                            <span class="pagination-choose-block__page">3</span>
                            <span class="pagination-choose-block__page">4</span>
                            <span class="pagination-choose-block__page">5</span>
                            <span class="pagination-choose-block__page">6</span>
                            <span class="pagination-choose-block__page">7</span>
                            <span class="pagination-choose-block__next-page">Следующая</span>
                        </div>
                        <form class="pagination-block__pagination-input-block-form" method="post">
                            <input class="pagination-input-block-form__input" type="number">
                            <button class="pagination-input-block-form__button-submit" type="submit">Перейти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form class="catalog__bottom-filters-form-block" method="post">
            <span class="bottom-filters-form-block__close-button" onclick="closeSideFilters()" aria-label="Закрыть нижнее меню фильтров">&times;</span>
            <div class="bottom-filters-form-block__price-filter-block filters-form-block__price-filter-block filter-block">
                <h3 class="price-filter-block__label">Цена</h3>
                <div class="price-filter__range-min-max-block">
                    <div class="range-min-max-block__selected-range"></div>
                    <div class="range-min-max-block__common-range"></div>
                    <input class="range-min-max-block__min-range-input-value" step="any" min="351" max="350000" type="range">
                    <input class="range-min-max-block__max-range-input-value" step="any" min="351" max="350000" type="range">
                </div>
                <div class="price-filter__price-min-max-block">
                    <input class="price-min-max-block__min-price-input" type="number" placeholder="351">
                    <div class="price-min-max-block__splitter">—</div>
                    <input class="price-min-max-block__max-price-input" type="number" placeholder="350000">
                </div>
            </div>
            <div class="bottom-filters-form-block__colors-filter-block filters-form-block__colors-filter-block filter-block">
                <div class="colors-filter-block__label-block label-block">
                    <h3 class="label-block__label filter-label">Цвета</h3>
                    <div class="label-block__arrow"></div> <!-- show -->
                </div>
                <div class="colors-filter-block__colors-filter-spoiler filter-spoiler">
                    <div class="colors-filter-spoiler__colors-filter filter-choose-block">
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Черный</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Белый</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Ораньжевый</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Темно-синий</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Голубой</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Фиолетово-розовый</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Красный</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Зеленый</label>
                    </div>
                </div>
            </div>
            <div class="bottom-filters-form-block__brands-filter-block filters-form-block__brands-filter-block filter-block">
                <div class="brands-filter-block__label-block label-block">
                    <h3 class="label-block__label filter-label">Бренды</h3>
                    <div class="label-block__arrow"></div> <!-- show -->
                </div>
                <div class="brands-filter-block__brands-filter-spoiler filter-spoiler">
                    <div class="brands-filter-spoiler__brands-filter filter-choose-block">
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Adiddas</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Lous-Vitons</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Veco</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Nike</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>Praga</label>
                    </div>
                </div>
            </div>
            <div class="bottom-filters-form-block__sizes-filter-block filters-form-block__sizes-filter-block filter-block">
                <div class="sizes-filter-block__label-block label-block">
                    <h3 class="label-block__label filter-label">Размеры</h3>
                    <div class="label-block__arrow"></div> <!-- show -->
                </div>
                <div class="sizes-filter-block__sizes-filter-spoiler filter-spoiler">
                    <div class="sizes-filter-spoiler__sizes-filter filter-choose-block">
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>41</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>43</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>42</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>45</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>56</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>57</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>58</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>90</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>91</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>92</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>93</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>94</label>
                        <label class="colors-filter__checkbox checkbox"><input class="checkbox__input" type="checkbox" /><span class="checkbox__fake-input"></span>95</label>
                    </div>
                </div>
            </div>
            <button class="bottom-filters-form-block__submut-button filters-form-block__submut-button" type="submit">Принять</button>
        </form>
    </section>