.catalog {
    width: 100%;
    position: relative;

    &__container {
        padding: 3em 40px 5em;
        margin: 0 auto;
        min-height: 70vh;
    }

    &__panel-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        gap: 10px;
    }

    &__main-block {
        display: flex;
        gap: 15px;
        min-height: 70vh;
    }

    ::deep &__bottom-filters-form-block {
        position: fixed;
        z-index: 20;
        top: 0;
        right: 0;
        left: 0;
        background-color: white;
        height: 0vh;
        padding: 0px;
        transition: height 0.3s ease;
        overflow: hidden;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border: 0;
            border-radius: 0;
        }

        &.show {
            height: 100vh;
        }
    }

    ::deep &__bottom-filters-form {
        padding: 20px;
        gap: 15px;
        flex-direction: column;
    }
}
.bottom-filters-form {
    &__close-button {
        cursor: pointer;
        align-self: flex-end;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: min-content;
        height: min-content;
        color: black;
    }

    &__price-filter-block {
        & > .price-filter__price-min-max-block {
            justify-content: center;
        }
    }

    &__submut-button {
        margin-top: auto;
    }
}
.panel-block {
    &__link-category-block {
        display: flex;
        justify-self: flex-start;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        font-size: 25px;
    }

    &__filter-sort-block {
        width: min-content;
        align-items: center;
        gap: 7px;
        display: flex;
    }
}
.filter-sort-block {
    &__side-filters {
        display: none;
        user-select: none;
        cursor: pointer;
        border-radius: 30px;
        font-size: 16px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        white-space: nowrap;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    &__sort-by-block {
        position: relative;
    }
}
.link-category-block {
    &__message{
    }

    &__category {
        color: black;

        &:hover {
            color: rgb(102, 102, 102);
        }
    }

    &__splitter {
    }

    &__subcategory {
    }

    &__count {
    }
}
.sort-by-block {
    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
        border-radius: 30px;
        font-size: 16px;
        padding: 10px;
        border: 2px solid black;
        white-space: nowrap;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    &__choose-block {
        display: none;
        background-color: white;
        flex-direction: column;
        top: 45px;
        right: 0;
        overflow: hidden;
        z-index: 100;
        border: 1px rgb(224, 224, 224) solid;
        border-radius: 5px;
        position: absolute;
    }
}
.choose-block {
    &__sort-value {
        user-select: none;
        padding: 10px;
        font-size: 16px;
        white-space: nowrap;
        display: block;

        &:hover {
            background-color: rgb(230, 230, 230);
        }
    }
}
.main-block {
    &__products-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    ::deep &__filters-form-block {
        display: flex;
        gap: 15px;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        min-width: min-content;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border: 0;
            border-radius: 0;
        }
    }
}
.products-block {
    &__products-cards {
        display: grid;
        width: 100%;
        height: 100%;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        &.is-loading-or-empty {
            display: flex;
        }
    }

    &__pagination-block {
        display: flex;
        gap: 10px;
    }
}
.pagination-block {
    &__pagination-choose-block {
        display: flex;
        align-items: center;
    }

    &__pagination-input-block-form {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
.pagination-choose-block {
    &__previous-page {
        cursor: pointer;
        padding: 10px;
        text-align: center;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    &__etc {
        pointer-events: none;
        cursor: default;
        padding: 10px 3px;
    }

    &__page {
        cursor: pointer;
        padding: 10px;

        &:hover {
            color: rgb(161, 161, 161);
        }
    }

    &__next-page {
        cursor: pointer;
        padding: 10px;

        &:hover {
            color: white;
            background-color: black;
        }
    }
}
.pagination-input-block-form {
    &__input {
        height: 100%;
        width: 50px;
        padding: 0px 10px;
        border: 1px solid black;
    }

    &__button-submit {
        color: white;
        height: 100%;
        padding: 0 17px;
        text-align: center;
        background-color: black;
    }
}
.selected-page {
    cursor: default;
    color: white;
    background-color: black;

    &:hover {
        color: white;
    }
}
.filters-form-block {
    &__price-filter-block {
    }

    &__colors-filter-block {
    }

    &__brands-filter-block {
    }

    &__sizes-filter-block {
    }

    &__submut-button {
        width: 100%;
        padding: 15px;
        background-color: black;
        color: white;
        font-size: 17px;
        border-radius: 3px;
        text-align: center;
    }
}
.price-filter-block {
    &__label {
        user-select: none;
        font-size: 17px;
        font-weight: 500;
    }
}
.price-filter {
    &__range-min-max-block {
        display: none;
    }

    &__price-min-max-block {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
}
.price-min-max-block {
    &__min-price-input {
        width: 100px;
        padding: 8px;
        border: 1px black solid;
    }

    &__splitter {
    }

    &__max-price-input {
        width: 100px;
        padding: 8px;
        border: 1px black solid;
    }
}
.colors-filter-block {
    &__label-block {
    }

    &__colors-filter-spoiler {
    }
}
.colors-filter-spoiler {
    &__colors-filter {
    }
}
.colors-filter {
    &__checkbox {
    }
}
.brands-filter-block {
    &__label {
    }

    &__brands-filter-spoiler {
    }
}
.brands-filter-spoiler {
    &__brands-filter {
    }
}
.sizes-filter-block {
    &__label {
    }

    &__brands-filter-spoiler {
    }
}
.sizes-filter-spoiler {
    &__brands-filter {
    }
}
.products-cards {
    &__product-card {
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__empty {
        font-size: 18px;
        justify-self: center;
        align-self: center;
    }
}
.product-card {
    &__image-block {
        cursor: pointer;
        position: relative;
        padding: 0 0 100% 0;
        overflow: hidden;
    }

    &__name {
        color: black;
        cursor: pointer;
        font-size: 17px;
    }

    &__price {
        font-size: 16px;
    }
}
.image-block {
    &__image {
        object-fit: contain;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &__cart {
        position: absolute;
        cursor: pointer;
        top: 40px;
        right: 11.5px;
        opacity: 0.6;
        z-index: 1;

        &:hover {
            opacity: 1;
        }

        img {
            height: 1.8em;
        }
    }

    &__favorite {
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
        opacity: 0.6;
        z-index: 1;

        &:hover {
            opacity: 1;
        }

        img {
            height: 1.8em;
        }
    }
}
.label-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    &__label {
        user-select: none;
        font-size: 17px;
        font-weight: 500;
    }

    &__arrow {
        position: relative;
        width: 14px;
        display: inline-block;
        transition: all ease 0.3s;

        &.show {
            transform: rotate(180deg);
        }

        &::before {
            content: "";
            width: 9px;
            height: 2px;
            background: rgb(0, 0, 0);
            display: block;
            position: absolute;
            top: 50%;
            border-top-left-radius: 1px;
            border-bottom-left-radius: 1px;
            transform: translateY(-50%) rotate(45deg);
        }

        &::after {
            content: "";
            width: 9px;
            height: 2px;
            background: rgb(0, 0, 0);
            display: block;
            position: absolute;
            top: 50%;
            border-top-left-radius: 1px;
            border-bottom-left-radius: 1px;
            right: 0px;
            transform: translateY(-50%) rotate(135deg);
        }
    }
}
.filter-spoiler {
    padding: 1px;
    display: none;

    & > .filter-choose-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 250px;
        padding: 1px;
        overflow-y: auto;
    }
}
.filter-block {
    display: flex !important;
    flex-direction: column;
    gap: 15px;
}
.checkbox {
    cursor: pointer;
    display: flex;
    width: min-content;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 0;
    white-space: nowrap;
    user-select: none;

    &__input {
        display: none;
    }

    &__fake-input {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        box-shadow: 0px 0px 1px black;
        border-radius: 1px;

        &::before {
            content: '';
            position: absolute;
            top: 25%;
            left: 24%;
            transform: translate(-50%, -50%);
            width: 11px;
            height: 7px;
            border-right: 3px solid white;
            border-top: 3px solid white;
            transform: rotate(135deg);
            opacity: 0;
        }
    }

    &:hover {
        color: rgb(102, 102, 102);
    }

    &__input:checked + &__fake-input::before {
        opacity: 1;
    }

    &__input:checked + &__fake-input {
        background-color: black;
    }
}

@media (max-width: 930px) {
    .catalog {
        &__container {
            padding: 20px;
            padding-bottom: 30px;
        }

        &__panel-block {
            display: flex;
            flex-direction: column;
            grid-template-rows: min-content min-content;
        }

        ::deep &__bottom-filters-form {
            display: flex;
        }
    }
    .panel-block {
        &__link-category-block {
            align-self: flex-start;
        }

        &__filter-sort-block {
            align-self: flex-end;
        }
    }
    .main-block {
        ::deep &__filters-form-block {
            display: none;
        }
    }
    .filter-sort-block {
        &__side-filters {
            display: flex;

            &:hover {
                color: black;
                background-color: white;
            }

            &:active {
                color: white;
                background-color: black;
            }
        }
    }
    .sort-by-block {
        &__label {
            &:hover {
                color: black;
                background-color: white;
            }

            &:active {
                color: white;
                background-color: black;
            }
        }
    }
    .pagination-choose-block {
        &__previous-page {
            padding: 8px;

            &:hover {
                color: black;
                background-color: white;
            }

            &:active {
                color: white;
                background-color: black;
            }
        }

        &__page {
            padding: 8px;

            &:hover {
                color: black;
                background-color: white;
            }

            &:active {
                color: white;
                background-color: black;
            }
        }

        &__next-page {
            padding: 8px;

            &:hover {
                color: black;
                background-color: white;
            }

            &:active {
                color: white;
                background-color: black;
            }
        }
    }
    .pagination-input-block-form {
        &__input {
            padding: 5px;
        }
    }
}
@media (max-width: 640px) {
    .catalog {
        &__container {
            padding: 10px;
            padding-bottom: 25px;
        }
    }
    .panel-block {
        &__link-category-block {
            font-size: 20px;
        }
    }
}
@media (max-width: 540px) {
    .catalog {
        &__container {
            padding: 10px;
            padding-bottom: 20px;
        }
    }
    .panel-block {
        &__link-category-block {
            font-size: 20px;
        }
    }
    .panel-block {
        &__filter-sort-block {
            gap: 3px;
        }
    }
    .filter-sort-block {
        &__side-filters {
            padding: 7px;
            font-size: 15px;
        }
    }
    .sort-by-block {
        &__label {
            padding: 7px;
            font-size: 15px;
        }
    }
}
@media (max-width: 440px) {
    .products-block {
        &__pagination-block {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}